{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "json",
    "react",
    "react-app",
    "react-hooks",
    "@typescript-eslint",
    "prettier"
  ],
  "extends": [ 
    "eslint:recommended",
    "plugin:json/recommended",
    "plugin:react/recommended",
    "plugin:react-app/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "printWidth": 120,
        "tabWidth": 2,
        "endOfLine": "lf",
        "semi": true
      }
    ],
    "max-len": [
      "error",
      {
        "code": 120,
        "ignoreUrls": true,
        "ignoreRegExpLiterals": true,
        "ignoreStrings": true,
        "ignoreComments": true,
        "ignoreTrailingComments": true
      }
    ],
    "react/prop-types": "off",
    "react/display-name": "off",
    "react-app/jsx-a11y/accessible-emoji": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "@typescript-eslint/explicit-member-accessibility": "off",
    "@typescript-eslint/no-angle-bracket-type-assertion": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/no-empty-interface": 0,
    "@typescript-eslint/explicit-function-return-type": [
      "warn",
      {
        "allowExpressions": true
      }
    ],
    "linebreak-style": ["warn", "unix"]
  },
  "overrides": [
    {
      "files": [
        "**/*.js",
        "**/*.jsx"
      ],
      "rules": {
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/camelcase": "off",
        "@typescript-eslint/no-unused-vars": [
          "error",
          {
            "args": "none"
          }
        ],
        "no-console": "off"
      }
    }
  ],
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "impliedStrict": true,
      "classes": true,
      "jsx": true
    }
  }
}
